.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
docs/**
.gitignore
.yarnrc
.npmrc
webpack.config.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
pnpm-lock.yaml
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/index.html
webview-ui/*.json
webview-ui/*.js
!webview-ui/build/**

